@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@700&display=swap');
 

// font-family: 'Bree Serif', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rajdhani', sans-serif;

$breakpoint-tablet: 908px;
$breakpoint-mobile: 500px;

$mainFont:'Bree Serif', serif;
$headersFont:'Rajdhani', sans-serif;

@mixin headersStyle {
 font-family: $headersFont;
 color: palevioletred;
 &:hover{
    color: pink;
 }    
}